@use '../../components/colors/styles.module.scss' as colors;

.infoList {
    width: 90%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1em;

    li {
        display: flex;
        align-items: center;
        gap: 0.5em;

        .__inputRating {
            font-size: 1em;
        }
    }
}

.infoReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: colors.$yellow;
}
